* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  width: 80%;
  margin: auto;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  background-color: cornsilk;
}

header {
  background-color: rgb(246, 193, 16);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 200px;
}

.logo > a > img {
  margin: auto;
  max-height: 120px;
  vertical-align: middle;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  vertical-align: middle;
  align-content: center;
  justify-content: space-between;
  padding: 2rem;
}

.top-menu > a {
  background-color: crimson;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 8px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 1px 1px brown;
  border-radius: 10px;
}
.top-menu > a:hover {
  background-color: #000;
}

article {
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 70%;
  background-color: #fff;
}

.contenido {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  /* height: 400px; */
}

aside {
  flex-basis: 30%;
  padding: 20px;
  flex-grow: 1;
  flex-basis: 30%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: darkgray;
}

footer {
  background-color: rgb(246, 193, 16);
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

footer > .menu2,
.menu3 {
  display: flex;
  background-color: wheat;

  flex-wrap: wrap;
}

footer > .menu2 > a,
footer > .menu3 > a {
}

.banner-image {
  width: 100%;
}

.video-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.video-row > div {
  display: inline-flex;
  width: 50%;
  text-align: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  margin: auto;
}

.slogan-column {
  font-size: 3rem;
}

.recomend-options {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.recomend-options > div {
  display: inline-flex;
  width: 50%;
  text-align: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  margin: auto;
  flex-direction: column;
}

.recomend-options > div > img {
  border-radius: 10px;
  width: 90%;
}

.option-button {
  background-color: darkgoldenrod;
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  color: rgb(243, 243, 243);
  padding: 8px 16px;
  box-shadow: inset;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  margin: 10px auto;
  border-radius: 10px;
}

.contact-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contact-info > div {
  width: 100%;
}

.address-container {
  margin-left: 30px;
}

.lname {
  border: 1px solid #444;
  padding: 8px 12px;
  border-radius: 10px;
  margin: 20px;
}

.fila {
  display: flex;
}

.columna {
  width: 100%;
  justify-content: center;
}

.margen-30 {
  margin: 30px;
}

.mensaje{
  border: 1px solid #345;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.padding-30 {
  padding: 30px;
}

h1 {
  font-size: 3rem;
}

.nosotros {
  font-size: 1.3rem;
}

.carta-box {
  width: 100%;
  padding: 20px;
  border: 1px solid #876;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}

.title-promo {
  font-size: 25px;
  color: rgb(88, 68, 1);
  text-align: center;
}

.lista-promo {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.carta-image {
  width: 160px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container > form {
  display: inline-grid;
  width: 80%;
}
